<div style="text-align: center;">
    <br>
    <br>
 <h1>Please log in.</h1>
<br>
.</p>
    <img style="width: 250px; height: 200px;" src="images/police-siren.png" />
   
    <form id="form" action="" method="post" >
        <div style="margin-bottom: 30px;">
       
    
        <p><label for="email"> <input name="email" placeholder= "Email" required></input></label></p>
        <p><label for="password"> <input name="password" placeholder= "Password" required></input></label></p>

        </div>

        {{!-- <input  type="hidden" name="signature" style="display: none;" /> --}}
       
        
       <p style="color:red">{{errormessage}}</p>
 

<input type="submit"  value="LOG IN">

    </form>

  
   

</div>