<div style="text-align: center;">
     <br>
      <br>
 <h3>Please tell us more about yourself</h3>
    <br>
<br>

    <img style="width: 250px; height: 200px;" src="images/police-siren.png" />
   
    <form id="form" action="" method="post" >
        <div style="margin-bottom: 30px;">
        <p><label for="age"> <input name="age" placeholder= "Your Age" required></input></label></p>
        <p><label for="city"> <input name="city" placeholder= "City" required></input></label></p>
        <p><label for="homepage"> <input name="homepage" placeholder= "Home Page" required></input></label></p>
        

        </div>

       
       <p style="color:red">{{errormessage}}</p>
 

<input type="submit"  value="CONTINUE" >

    </form>

  
   

</div>