<div style="text-align: center;">
    <h1>Signers!</h1>
    <img style="width: 250px; height: 200px;" src="images/police-siren.png" />

    <ul>
        {{#signatures}}
            <p>{{name}} &nbsp;&nbsp; {{surname}} &nbsp;&nbsp; {{ age }}  &nbsp;&nbsp; {{city}}</p>
        {{/signatures}}
    </ul>

</div>