<div style="text-align: center;">
    <h1>Thank you for joining our family!</h1>
    <img style="width: 250px; height: 200px;" src="images/police-siren.png" />
    <p><a href="/signers"> Total of {{signaturecount}} signers</a></p>
</div>